#!/bin/bash
# {{ ansible_managed }}

{% block main %}
cd ansible_advance_homework
ansible-playbook site-config-tower.yml -e tower_GUID={{ hw_guid }} -e osp_GUID={{ osp_guid }} -e opentlc_login={{ hw_user }} -e path_to_opentlc_key=/root/.ssh/mykey.pem -e param_repo_base=http://www.opentlc.com/download/ansible_bootcamp -e opentlc_password= -e REGION_NAME=us-east-1 -e EMAIL={{ user_email }} -e github_repo=https://github.com/{{ git_user }}/ansible_advance_homework
{% endblock %}
